# Maven target directory
target/

# Eclipse project files
.classpath
.project
.settings/

# IntelliJ project files
.idea/
*.iml

# NetBeans project files
nbproject/
build/
nbbuild/
dist/
nbdist/

# Logs
*.log
log/
logs/

# Compiled class file
*.class

# Package files
*.jar
*.war
*.ear

# Maven build files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
